@font-face {
font-family: 'BrixSansBlack';
src: url('2BBE48_1_0.eot');
src: url('2BBE48_1_0.eot?#iefix') format('embedded-opentype'),url('2BBE48_1_0.woff') format('woff'),url('2BBE48_1_0.ttf') format('truetype');
}

@font-face {
font-family: 'BrixSansMedium';
src: url('2BBE48_9_0.eot');
src: url('2BBE48_9_0.eot?#iefix') format('embedded-opentype'),url('2BBE48_9_0.woff') format('woff'),url('2BBE48_9_0.ttf') format('truetype');
}

@font-face {
font-family: entypo;
src: url('entypo.ttf'),
     url('entypo.eot'); /* IE9 */
-webkit-font-smoothing: antialiased; 
}

@font-face {
font-family: entypo-social;
src: url('entypo-social.ttf'),
     url('entypo-social.eot'); /* IE9 */
-webkit-font-smoothing: antialiased; 
}


body {
	color: #22292e;
	background-color: #fdfdfd;
    -webkit-font-smoothing: antialiased;
	font-family: "adobe-garamond-pro", Times, 'Times New Roman', Georgia, serif;
	font-weight: regular;
	font-size: 24px;
	line-height: 1.4em;
}

.color {
	width: 100%;
	height: 5px;
	background-color: #93bec6;
	position: fixed;
}

.container {
	width: 600px;
	margin-left: 200px;
}

.content  {
 	margin-top: 200px;
}

.content article p {
	margin-bottom: 30px;
}

img {
	width: 100% !important;
	margin-top: 1px;
	margin-bottom: 2px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
}

img.about {
	width: 150px !important;
	margin-top: -150px;
	margin-left: 0px;
	-moz-border-radius: 75px;
	-webkit-border-radius: 75px;
	-khtml-border-radius: 75px;
	border-radius: 75px;
}

.rounded-corners img{
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -khtml-border-radius: 6px;
    border-radius: 6px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'BrixSansBlack';
	font-weight: normal;
	font-style: normal;
}

h3, h4, h5, h6 {
	color: #93bec6;
}

h1.logo, h1.logo a {
	font-family: 'BrixSansBlack';
	font-size: 36px;
	font-style: normal;
	color: #354047;
	padding-top: 40px;
	text-decoration: none;
}

.nav {
	margin-top: -33px;
	margin-left: 20px;
	float: right;	
}

.nav h1 a, a:visited{
	font-size: 20px;
	font-style: normal;
	color: #93bec6;
	text-decoration: none;
}

.nav h1 a:hover {
	color: #354047;
	text-decoration: none;
}

.content h1 {
	font-size: 40px;
	line-height: 1.05em;
	text-align: left;
	color: #93bec6;
	margin-bottom: 10px;
	text-decoration: none;
}

h2 {
	font-size: 44px;
	line-height: 1.1em;
	color: #93bec6;
	margin-bottom: 14px;
	text-decoration: none;
}

h2 a, a:visited {
	color: #93bec6;
	text-decoration: none;
}

h2 a:hover {
	color: #354047;
	text-decoration: none;
}

.blogarticle h2{
	text-align: left;
	margin-bottom: 30px;
}

.article {
	margin-bottom: 54px;
}

.article h3 {
	font-size: 28px;
	color: #93bec6;
	margin-bottom: 3px;
}

.article h4 {
	font-size: 26px;
	line-height: 34px;
}

.article p{
	margin-bottom: 30px !important;
}

.article a, a:visited {
	color: #93bec6;
	text-decoration: none;
}

.article a:hover {
	color: #354047;
	text-decoration: none;
}

.content article h4 {
	font-size: 28px;
	margin-top: 54px;
	margin-bottom: 8px;
}

.content article h5 {
	font-size: 24px;
	color: #737f86;
}

.content a, a:visited {
	color: #93bec6;
	text-decoration: none;
} 

::selection {
	/* Safari */
	color: #354047;
	background-color: #cfdee6;
 }
::-moz-selection {
	color: #354047;
	background: #cfdee6; /* Firefox */
}

.post {
	border-bottom: 1px solid #f3ecf4;
	padding-bottom: 20px;
	margin-bottom: 54px;

}

.article blockquote {
	font-style: italic;
	line-height: 34px;
	color: #737f86;
	padding-left: 2em;
}

.readmore {
  	font-family: 'BrixSansBlack';
  	color: #9da4a9;
  	text-decoration: none;
}

.artover {
	margin-bottom: 0px;
}

.social {
	border-top: 1px solid #d7dee3 !important;
}

.tweet {
	margin-top: 10px;
}

.fb-like {
	margin-top: 8px;
	margin-bottom: 20px;
}

.share {
	font-weight: 400;
	font-style: italic;
}

.picto {
	font-family: entypo;
	font-style: normal;
}

.picto-social {
	font-family: entypo-social;
	font-style: normal;
}

.pagination {
	font-family: 'BrixSansBlack';
	font-size: 30px;
	color: #9da4a9;
	text-align: center;
	margin-top: -20px;
	margin-bottom: 100px;
}

.pagination a {
    text-decoration: none;
  }
  
.contact {
	font-size: 14px;
	font-style: italic;
	border-top: 1px solid #d7dee3;
	margin-top: 30px;
	margin-bottom: 30px;
	padding-top: 30px;
	text-align: center;
}

.contact li {
	display: inline;
	list-style-type: none;
	font-family: entypo;
	font-style: normal;
	font-size: 50px;
	padding-left: 5px;
	padding-right: 5px;
	list-style: none;
}

.contact a {
	color: #354047;
}

.contact a:hover {
	color: #354047;
}


/* Media Queries */

/* Tablet */
@media (max-width: 768px) and (min-width: 641px) {

  .container {
	 margin: 0 auto;
	}

}

/* Mobile */
@media (max-width: 640px) and (min-width: 0px) {

  	body {
  	    font-family: "adobe-garamond-pro", Times, 'Times New Roman', Georgia, serif;
  	    color: #354047;
  	    font-weight: 400;
  	    font-size: 20px;
  	    line-height: 28px;
  	    background-color: #fdfdfd;
  	    -webkit-font-smoothing: antialiased; 
  	}
  	
  	img.about {
  		width: 100px !important;
  		margin-top: -50px;
  		margin-left: 0px;
  		-moz-border-radius: 50px;
  		-webkit-border-radius: 50px;
  		-khtml-border-radius: 50px;
  		border-radius: 50px;
  	}
  	
  	.h1.logo, h1.logo a {
  		font-size: 24px;
    	margin: 0px;
  	}
  	
  	.nav {
  		margin-top: -27px;
  		margin-left: 15px;
  		margin-bottom: 35px;
  		float: right;		
  	}
  	
  	.nav h1 a, a:visited{
  		font-size: 16px;
  		font-weight: 400;
  		font-style: normal;
  		color: #93bec6;
  		text-decoration: none;
  	}
  	
  	.nav h1 a:hover {
  		color: #354047;
  		text-decoration: none;
  	}
  	
  	.content h1 {
  		font-size: 30px;
  		line-height: 1.1em;
  		color: #93bec6;
  		margin-bottom: 14px;
  		text-decoration: none;
  	}

  	.container {
    	width: auto;
    	margin: 0 20px;
	}

	.content  {
    	margin-top: 100px;
    }
    
    .content article p {
    	margin-bottom: 30px;
    }
    
    h2 {
    	font-size: 40px;
    	line-height: 1.1em;
    	color: #93bec6;
    	margin-bottom: 14px;
    	text-decoration: none;
    	width: 100%;
    }
    
    h2 a, a:visited {
    	color: #93bec6;
    	text-decoration: none;
    }
    
    h2 a:hover {
    	color: #354047;
    	text-decoration: none;
    }
    
    .blogarticle h2{
    	text-align: left;
    	margin-bottom: 14px;
    	max-width: 100%;
    }
    
    .article h3 {
    	font-size: 28px;
    	color: #93bec6;
    	margin-bottom: 3px;
    }
    
    .post {
    	border-bottom: 1px solid #f3ecf4;
    	margin-bottom: 54px;
    
    }
    
    .article blockquote {
    	font-style: italic;
    	line-height: 28px;
    	color: #737f86;
    	padding-left: 1.5em;
    }
    
    .artover {
    	margin-bottom: 0px;
    }
    
    .article {
    	margin-bottom: 54px;
    }
    
    .article strong {
    	font-size: 26px;
    	font-weight: normal;
    	line-height: 38px;
    }
    
    .article p{
    	margin-bottom: 30px !important;
    }
    
   	ol {
    	padding-left: 24px;
    	margin-bottom: 30px;
    }
    
    .article ol li p {
    	line-height: 24px;
    	margin-bottom: 15px !important;
    }
    
    .picto {
    	font-family: entypo !important;
    	font-style: normal;
    }
    
    .pagination {
    	font-size: 24px;
    	margin-top: -20px;
    	margin-bottom: 100px;
    }
    
    .pagination a {
        text-decoration: none;
      }
      
    .fb-like {
    	margin-top: 25px;
    	margin-bottom: 20px;
    }
    
    .list-embed {
    	position: relative;
    	padding-bottom: 56.25%;
    	padding-top: 35px;
    	height: 0;
    	overflow: hidden;
    }
    
    .list-embed iframe {
    	position: absolute;
    	top:0;
    	left: 0;
    	width: 100%;
    	height: 100%;
    }

}