body {
    font-family: 'Crimson Text', Times, 'Times New Roman', Georgia, serif;
    color: #354047;
    font-weight: 400;
    font-size: 24px;
    line-height: 35px;
    background-color: #fdfdfd;
}

.color {
	width: 100%;
	height: 5px;
	background-color: #a3907c;
	position: fixed;
}

.container {
	width: 600px;
	margin-left: 200px;
}

.content  {
 	margin-top: 200px;
}

.content article p {
	margin-bottom: 10px;
}

img {
	width: 98% !important;
	margin-top: 16px;
	margin-bottom: 16px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-khtml-border-radius: 4px;
	border-radius: 4px;
}

.rounded-corners img{
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -khtml-border-radius: 6px;
    border-radius: 6px;
}

h1.logo, h1.logo a {
	font-size: 36px;
	font-weight: 400;
	color: #354047;
	padding-top: 40px;
	text-decoration: none;
}

.nav {
	margin-top: -33px;
	float: right;	
}

.nav h1 a, a:visited{
	font-size: 20px;
	font-weight: 400;
	font-style: normal;
	color: #a3907c;
	text-decoration: none;
}

.nav h1 a:hover {
	color: #354047;
	text-decoration: none;
}

.content h1 {
	font-size: 40px;
	line-height: 1em;
	font-weight: 400;
	font-style: italic;
	text-align: left;
	color: #a3907c;
	margin-bottom: 8px;
	text-decoration: none;
}

h2 {
	font-size: 40px;
	line-height: 1em;
	font-weight: 400;
	font-style: italic;
	color: #a3907c;
	margin-bottom: 8px;
	text-decoration: none;
}

h2 a, a:visited {
	color: #a3907c;
	text-decoration: none;
}

h2 a:hover {
	color: #354047;
	text-decoration: none;
}

.blogarticle h2{
	text-align: left;
	margin-bottom: 8px;
}

.article h3 {
	font-size: 28px;
	font-style: italic;
	font-weight: 400;
	color: #a3907c;
	margin-bottom: 3px;
}

.content a, a:visited {
	color: #a3907c;
	text-decoration: none;
} 

::selection {
	/* Safari */
	color: #354047;
	background-color: #cfdee6;
 }
::-moz-selection {
	color: #354047;
	background: #cfdee6; /* Firefox */
}

.post {
	border-bottom: 1px solid #d7dee3;
	padding-bottom: 20px;
	margin-bottom: 54px;

}

.article blockquote {
	font-style: italic;
	line-height: 34px;
	color: #737f86;
	padding-left: 2em;
}

.readmore {
  color: #9da4a9;
  text-decoration: none;
}

.artover {
	margin-bottom: 0px;
}

.article {
	margin-bottom: 54px;
}

.article h4 {
	font-size: 26px;
	font-weight: 400;
	line-height: 38px;
}

.article p{
	margin-bottom: 30px !important;
}

.article a, a:visited {
	color: #a3907c;
	text-decoration: none;
}

.article a:hover {
	color: #354047;
	text-decoration: none;
}

/* .social {
	border-top: 1px solid #d7dee3 !important;
} */

.pagination {
	font-size: 30px;
	font-style: italic;
	color: #9da4a9;
	text-align: center;
	margin-top: -20px;
	margin-bottom: 100px;
}

.pagination a {
    text-decoration: none;
  }


/* Media Queries */

/* Tablet */
@media (max-width: 768px) and (min-width: 641px) {

  .container {
	 margin: 0 auto;
	}

}

/* Mobile */
@media (max-width: 640px) and (min-width: 0px) {

  	body {
  	    font-family: 'Crimson Text', Times, 'Times New Roman', Georgia, serif;
  	    color: #354047;
  	    font-weight: 400;
  	    font-size: 20px;
  	    line-height: 28px;
  	    background-color: #fdfdfd;
  	}
  	
  	.h1.logo {
    	margin: 20px !important;
  	}
  	
  	.nav {
  		margin-top: -24px;
  		margin-bottom: 35px;
  		float: right;	
  	}
  	
  	.nav h1 a, a:visited{
  		font-size: 20px;
  		font-weight: 400;
  		font-style: normal;
  		color: #a3907c;
  		text-decoration: none;
  	}
  	
  	.nav h1 a:hover {
  		color: #354047;
  		text-decoration: none;
  	}
  	
  	.content h1 {
  		font-size: 30px;
  		line-height: 1em;
  		font-weight: 400;
  		font-style: italic;
  		color: #a3907c;
  		margin-bottom: 14px;
  		text-decoration: none;
  	}

  	.container {
    	width: auto;
    	margin: 0 20px;
	}

	.content  {
    	margin-top: 100px;
    }
    
    .content article p {
    	margin-bottom: 10px;
    }
    
    h2 {
    	font-size: 30px;
    	line-height: 1em;
    	font-weight: 400;
    	font-style: italic;
    	color: #a3907c;
    	margin-bottom: 14px;
    	text-decoration: none;
    	width: 100%;
    }
    
    h2 a, a:visited {
    	color: #a3907c;
    	text-decoration: none;
    }
    
    h2 a:hover {
    	color: #354047;
    	text-decoration: none;
    }
    
    .blogarticle h2{
    	text-align: left;
    	margin-bottom: 14px;
    	max-width: 100%;
    }
    
    .article h3 {
    	font-size: 28px;
    	font-style: italic;
    	font-weight: 400;
    	color: #a3907c;
    	margin-bottom: 3px;
    }
    
    .post {
    	border-bottom: 1px solid #d7dee3;
    	margin-bottom: 54px;
    
    }
    
    .article blockquote {
    	font-style: italic;
    	line-height: 28px;
    	color: #737f86;
    	padding-left: 1.5em;
    }
    
    .artover {
    	margin-bottom: 0px;
    }
    
    .article {
    	margin-bottom: 54px;
    }
    
    .article strong {
    	font-size: 26px;
    	font-weight: 400;
    	line-height: 38px;
    }
    
    .article p{
    	margin-bottom: 30px !important;
    }
    
    .pagination {
    	font-size: 24px;
    	font-style: italic;
    	color: #9da4a9;
    	text-align: center;
    	margin-top: -20px;
    	margin-bottom: 100px;
    }
    
    .pagination a {
        text-decoration: none;
      }

}